<div class="card p-3 m-3">
    <div class="d-flex justify-content-between align-items-center">
        <div class="user d-flex flex-row align-items-center"> 
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH_FeOhsRFIyXSe4kKGURXSmc2IeovAazNMg&usqp=CAU" width="30" class="user-img rounded-circle mr-2">
          <span><small class="font-weight-bold text-primary"><%= comment.user.name %></small> 
        <small class="font-weight-bold"><%= comment.body %></small></span> </div> 
    </div>
    <div class="action d-flex justify-content-between mt-2 align-items-center">
        <div class="reply px-4">
          <small>
            <% if comment.user == current_user %>
              <%= link_to 'Remove', [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </small>
        </div>
    </div>
</div>