<% if flash[:notice] %>
  <div class="alert alert-info mt-4" role="alert">
    <p id="notice"><%= notice %></p> 
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-warning mt-4" role="alert">
    <p id="alert"><%= alert %></p>
  </div>
<% end %>